* {
  font-family: Arial;
}

stock_list {
  padding: 0;
  spacing: 0.1rem;
  border-collapse: collapse;
  display: table;
}

stock_item {
  border-spacing: 0.4rem;
  padding: 0.5rem;
  display: table-row;
}

item_name {
  vertical-align: middle;
  border-spacing: 0.4rem;
  padding: 0.5rem;
  display: table-cell;
}

item_quantity {
  text-align: center;
  vertical-align: middle;
  border-spacing: 0.4rem;
  padding: 0.5rem;
  display: table-cell;
}

item_price {
  text-align: right;
  vertical-align: middle;
  border-spacing: 0.4rem;
  padding: 0.5rem;
  display: table-cell;
}

line_cost {
  border-spacing: 0.4rem;
  text-align: right;
  vertical-align: middle;
  padding: 0.5rem;
  display: table-cell;
}

.heading {
  background-color: blue;
  color: white;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
